CLIENT_ID=your_google_client_id_here
CLIENT_SECRET=your_google_client_secret_here
RAZORPAY_API_KEY=your_razorpay_api_key
RAZORPAY_API_SECRET=your_razorpay_api_secret

MONGODB_USERNAME=your_mongodb_username
MONGODB_PASSWORD=your_mongodb_password

MONGO_URI=your_mongodb_uri